#hole-1  #ball {
  /* position this item */
  position:relative;
  right: -15%;
  top: 12%;
  
}

#hole-2 #ball {
  /* position this item */
  position: absolute;
  top: 11vw;
  left: 11vw;
}

#hole-3 #ball {
  /* position this item */
  left: calc(10% + 2vw);
  top: calc(70% + 2vw);
}

#hole-4 #ball {
  /* position this item */
  top: 50%;
}

#hole-5 #ball {
  /* position this item */
  right: 4vw;
  position: absolute;
  top: 17vw;
}

#hole-6 #ball {
  /* position this item */
  position: absolute;
  margin: 1vw;
}

#hole-7 #ball {
  /* position this item */
  top: 50%;
  position: relative;
  margin: 0 auto;
  transform: translateY(-247%);
}

#hole-8 #ball {
  width: 50%;
  height: 50%;
  /* 
    HINT 
    RESIZE THE BALL
    MOVE BALL INTO TARGET IN HTML 
  */
  /* position this item */
}

#hole-8 #target {
  left: 50%;
  /* HINT -- MOVE THE TARGET */
  /* position this item */
}

#hole-9 #ball {
  /* position this item */
  position: absolute;
  top: 20px;
  left: 20px;
  width: 200px;
  height: 150px;
  box-shadow: 0 0 0 9999px #222C40(0, 0, 255, 0.2);
}
